
# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and R files
!.gitignore
!*.r
!*.R
!README.md
!LICENSE
!*.def
# codespaces
!.devcontainer/devcontainer.json
!.devcontainer/install.r
!.radian_profile
# Don't ignore input data files
!*.csv
*plotInfoTable*.csv
# Don't ignore executables
!Exe/*
!*.exe

# Don't ignore key SS files
!ss.par
!control.ss
!data.ss
!starter.ss_new
!forecast.ss_new
!control.ss_new
!data_echo.ss_new
!data.ss_new
!warning.sso
.Rproj.user
